<strong>Password recover</strong>

<p>An password recover was requested to ({{ email }}). If the request was not by you, We strongly reccomend that you change your password.</p>

<p>To continue to recover the password, use the token {{ token }} or click at the link below</p>

<a href="{{ link }}">Create new password</a>
